extends layout


block content
  .parallax
    div.containParallax
      h1= title
      h5 Welcome to #{title}
      //- video.video-bg(autoplay='' muted='' loop='')
      //-   source(src='https://media.giphy.com/media/QmDiNBWHiPJSeae5Zo/giphy.mp4' type='video/mp4')

  #intro
    .row
      .col-md-12
        br
        h1 Join Us
        h3 No Matter Who You Are Or Where You Are On Life's Journey, You're Welcome HERE!!!
        br
    .row
      //- #imgDiv.col-md-4.offset-1
      #introTextFrame.col-md-6.offset-3
        div#introText
          img.intro-pic(src="/images/uccLogo.jpg")
          p Welcome!  St. Mark United Church of Christ extends an extravagant welcome to all people!  It is our desire to offer the love of Christ and the fellowship of Christ’s people to souls in need of sanctuary — a place of safety and care.  We hope that you will join us during this time of pandemic for our virtual worship service on Facebook live.  Join us each Sunday morning at 11:15am at St. Mark UCC Berkley Norfolk, VA.  We look forward to meeting you there!
     
  #activities
    h1(strong) Weekly Events
    h3 Sunday Worship Service at 11:15am
    h5 
      a(href="https://www.facebook.com/St-Mark-UCC-Berkley-Norfolk-VA-106160771087217/?epa=SEARCH_BOX") Facebook Live 
      span and Conference Call (425) 436-6368  Access Code 284 469
    br
    br  
    h3 Bible Study - Each Wednesday at 7:00pm
    h5 
      a(href="#") Zoom 
      span and Conference Call (425) 436-6368  Access Code 284469
    br
    br
    #activitiesTable
      if {events}
        h1(strong) Special Events
         
        //- table
        //-   tr
        //-     th Date
        //-     th Start Time
        //-     th End Time
        //-     th Title
        //-   each event in events
        //-     tr
        //-       td= dayjs(event.date).format("M/D/YY")
        //-       td= dayjs('2020-01-01' + event.start).format("h:mm A")
        //-       td= dayjs('2020-01-01' + event.end).format("h:mm A")
        //-       td
        //-        a#eventLink(href="#" data-toggle="modal" data-target="#exampleModal" data-attr= (event.description)) #{event.title}
        each event in events
          h4  
            a#eventLink(href="#" data-toggle="modal" data-target="#exampleModal" data-attr= (event.description)) #{event.title} 
            span at #{dayjs('2020-01-01' + event.start).format("h:mm A")}  

    
  #location
    br
    h2 Location
    iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3193.595511847016!2d-76.2754339!3d36.8282115!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89baa2b20d150519%3A0xfefbb5185b236e03!2s521%20Obendorfer%20Rd%2C%20Norfolk%2C%20VA%2023523!5e0!3m2!1sen!2sus!4v1607902613925!5m2!1sen!2sus" width="45%" height="40%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
    br
    br
    h5 521 Obendorfer Rd Norfolk, VA
    h5 (757) 545-5527
    h5 stmarkuccnorfolk@gmail.com
    a(href="https://www.facebook.com/St-Mark-UCC-Berkley-Norfolk-VA-106160771087217/?epa=SEARCH_BOX")
      i.fab.fa-facebook-square.fa-3x(style="color: #2E1017")
       

    

  // Modal
  #exampleModal.modal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Modal title
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body
          //- | ... #{event.description}
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close
          //- button.btn.btn-primary(type="button") Save changes
  script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  //- font awesome
  script(src="https://kit.fontawesome.com/5f901e4b7a.js" crossorigin="anonymous")
  script(src="/javascripts/homepage.js")