extends layout


block content
  .parallax
    div.containParallax
      h1= title
      h5 Welcome to #{title}
      //- video.video-bg(autoplay='' muted='' loop='')
      //-   source(src='https://media.giphy.com/media/QmDiNBWHiPJSeae5Zo/giphy.mp4' type='video/mp4')

  #intro
    br
    h1(style="color: #396AA2") Join Us
    h3(style="color: #396AA2") No Matter Who You Are Or Where You Are On Life's Journey, You're Welcome HERE!!!
    br
    .row
      #imgDiv.col-md-3.offset-2
        img.intro-pic(src="/images/uccLogo.jpg")
      #introText.col-md-4
        h5 Welcome!  St. Mark United Church of Christ extends an extravagant welcome to all people!  It is our desire to offer the love of Christ and the fellowship of Christ’s people to souls in need of sanctuary — a place of safety and care.  We hope that you will join us during this time of pandemic for our virtual worshipservice on Facebook live.  Join us each Sunday morning at 11:15 am at St. Mark Berkley  Norfolk, Va.  We look forward to meeting you there!  
  #activities
    #activitiesTable
      if {events}
        h2 Announcements
        table
          tr
            th Date
            th Start Time
            th End Time
            th Title
          each event in events
            tr
              td= dayjs(event.date).format("M/D/YY")
              td= dayjs('2020-01-01' + event.start).format("h:mm A")
              td= dayjs('2020-01-01' + event.end).format("h:mm A")
              td
               a#eventLink(href="#" data-toggle="modal" data-target="#exampleModal" data-attr= (event.description)) #{event.title}
              

    
  #location
    br
    h2 Location
    img(src="/images/stMarkMap.png" height="45%" width="40%")
    br
    p 521 Obendorfer Rd Norfolk, VA
    p Call (757) 545-5527
    a(href="https://www.facebook.com/St-Mark-UCC-Berkley-Norfolk-VA-106160771087217/?epa=SEARCH_BOX")
      i.fab.fa-facebook-square.fa-3x(style="color: #2E1017")
       

    

  // Modal
  #exampleModal.modal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Modal title
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body
          //- | ... #{event.description}
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close
          //- button.btn.btn-primary(type="button") Save changes
